
<div class="panel panel-primary">
    <div class="panel-heading">
      {{ title }}
    </div>
    <div class="panel-body">
      <form [formGroup]="angForm" novalidate>
        <!-- Draw table -->
        <table style="width:100%" border="1px solid black">
  <tr>
  	<th></th>
    <th>Ageing</th>
    <th>Values</th> 
  </tr>
  <tr>
    <th><1 week</th>
    <th></th> 
    <th>1-2 week</th>
    <th></th>
    <th>2-4 week</th>
    <th></th>
    <th>4-6 weeks</th>
    <th></th>
    <th>6-8 weeks</th>
     <th></th>
     <th>>8 weeks</th>
     <th></th>
     <th>Total count</th>
     <th>Total %</th>
     
  </tr>
  <tr>
    <th>
    <div>
		<label>Summary: </label>
		<select (change)="filterForeCasts($event.target.value)">
		<option value="0">--All--</option>
		<option>{{staffingStatus[0]['option1']}}</option>
		<option>{{staffingStatus[0]['option2']}}</option>
		<option>{{staffingStatus[0]['option3']}}</option>
		<option>{{staffingStatus[0]['option4']}}</option>
		<option>{{staffingStatus[0]['option5']}}</option>
		<option>{{staffingStatus[0]['option6']}}</option>
		<option>{{staffingStatus[0]['option7']}}</option>
		<option>{{staffingStatus[0]['option8']}}</option>
		
		</select>
	</div></th>
    <th >count</th>
    <th >%</th>
    <th >count</th>
    <th >%</th>
    <th >count</th>
    <th >%</th>
    <th >count</th>
    <th >%</th>
    <th >count</th>
    <th >%</th>
    <th >count</th>
    <th >%</th>
    
    
  </tr><tr><td></td> 
  <td>{{Drugs[0]['row1']}}</td> 
    <td>{{Drugs[0]['row2']}}</td>
    <td>{{Drugs[0]['row3']}}</td> 
    <td>{{Drugs[0]['row4']}}</td>
    <td>{{Drugs[0]['row5']}}</td> 
    <td>{{Drugs[0]['row6']}}</td>
    <td>{{Drugs[0]['row7']}}</td> 
    <td>{{Drugs[0]['row8']}}</td>
    <td>{{Drugs[0]['row9']}}</td> 
    <td>{{Drugs[0]['row10']}}</td>
  </tr>
</table>
        
        
        <div class="form-group">
          <label class="col-md-4">Coin Name</label>
          <input type="text" id="coin_name" class="form-control" formControlName="coin_name" name="coin_name" #coin_name/>
        </div>
        <!-- <div *ngIf="coin_name.validity.valueMissing" class="alert alert-danger">          
            Name is required.
        </div> -->
         <div *ngIf="angForm.controls['coin_name'].invalid && (angForm.controls['coin_name'].dirty || angForm.controls['coin_name'].touched)" class="alert alert-danger"> 
          <div *ngIf="angForm.controls['coin_name'].errors.required">
            Coin Name is required.
          </div>
        </div> 
        
        <div class="form-group">
          <label class="col-md-4">Coin Price</label>
          <input type="text" id="coin_price" class="form-control" name="coin_price" formControlName="coin_price" #coin_price/>
          </div>
          <div *ngIf="angForm.controls['coin_price'].invalid && (angForm.controls['coin_price'].dirty || angForm.controls['coin_price'].touched)" class="alert alert-danger"> 
          <div *ngIf="angForm.controls['coin_price'].errors.required">
            Coin Price is required.
        </div>
        </div>
          <div class="form-group">
            <button (click)="addCoin(coin_name.value,coin_price.value)" class="btn btn-primary">Add1</button>
          </div>
      </form>
    </div>
  </div>