
<div class="panel panel-primary">
    <div class="panel-heading">
      {{ title }}
      {{title3variable}}
      "retrieving values form local strorage===="{{myItem}}
    </div>
    <div class="panel-body">
      
        <!-- Draw table -->
        <table style="width:100%" border="1px solid black">
  <tr>
    <th>Count of Ageing Band in Weeks - NEW</th>
    <th>Demand Ageing Band in Weeks</th> 
    <th></th>
    <th></th>
    <th></th>
    <th></th>
     <th></th>
    
  </tr>
  <tr>
     <th>
    <div>
		<label>Account Name: </label>
		<select>
		<option>{{accountName[0]['row1']}}</option>
		<option>{{accountName[0]['row2']}}</option>
		<option>{{accountName[0]['row3']}}</option>
		<option>{{accountName[0]['row4']}}</option>
		<option>{{accountName[0]['row5']}}</option>
		<option>{{accountName[0]['row6']}}</option>
		<option>{{accountName[0]['row7']}}</option>

		</select>
	</div></th>
    <th><2 weeks</th> 
    <th>2-4 Weeks
</th>
    <th>4-6 Weeks
    </th>
    <th>6-8 Weeks
k</th>
    <th></th>
    <th>>8 Weeks
</th>
    <th>Grand Total
    </th>
     
  </tr>
  <tr>
    <th>
    </th>
    <th >count</th>
    <th >%</th>
    <th >count</th>
    <th >%</th>
    <th >count</th>
    <th >%</th>
    <th >count</th>
    <th >%</th>
    <th >count</th>
    <th >%</th>
    <th >count</th>
    <th >%</th>
    
    
  </tr><tr><td></td> 
  <td>{{Drugs[0]['row1']}}</td> 
    <td>{{Drugs[0]['row2']}}</td>
    <td>{{Drugs[0]['row3']}}</td> 
    <td>{{Drugs[0]['row4']}}</td>
    <td>{{Drugs[0]['row5']}}</td> 
    <td>{{Drugs[0]['row6']}}</td>
    <td>{{Drugs[0]['row7']}}</td> 
    <td>{{Drugs[0]['row8']}}</td>
    <td>{{Drugs[0]['row9']}}</td> 
    <td>{{Drugs[0]['row10']}}</td>
  </tr>
</table>
        
        
        
        

    </div>
  </div>